# IDEs
*.idea/
*.vs/
*.vscode/

# Java
*.class
*.jar
*.war
*.ear

# Build output directories
/target/
/build/

# Dependency directories
/.mvn/
.maven/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.settings/
